[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python3 main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 1016520
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 start_server.py"
